@{
    ViewBag.Title = "Sổ Số Kiểu Mỹ";
}
<link href="~/odometer/themes/odometer-theme-car.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/odometer/odometer.js"></script>
<style>
    .odometer {
        font-size: 80px;
    }
</style>

<br />
<div style="text-align: center;">
    <div id="id1" class="odometer odometer_number_one "></div>
    <div id="id2" class="odometer odometer_number_two "></div>
    <div id="id3" class="odometer odometer_number_three "></div>
    <div id="id4" class="odometer odometer_number_four "></div>
    <div id="id5" class="odometer odometer_number_five "></div>
    <div id="id6" class="odometer odometer_number_six "></div>
</div>
<br />
<div style="text-align: center; margin-top: 15px;">
    <button type="button" onclick="GenericNumber();">Random Number</button>
</div>
<br />
<div style="margin-left: 15px; margin-right: 15px;">
    <h2>Thông Tin Thống Kê</h2>
    <p>
        Sổ số kiểu mỹ được thực hiện bằng cách sinh ngẩu nhiên 6 chữ số từ 1 -> 45 ( các số không được trùng nhau & không phân biệt thứ tự )
    </p>
    <p>
        <h1>Tỉ lệ trúng: 1/7059052</h1>
    </p><br />
    <div style="width: 100%">
        <div style="float: left;">
            <p>
                <table id="vlTrackingNumber">
                    <tr>
                        <th>
                            Số
                        </th>
                        <th>
                            Số lần sổ
                        </th>
                    </tr>
                    <tbody></tbody>
                </table>
            </p>
        </div>
        <div style="float: right;">
            <p>
                <table id="vlPublish">
                    <tr>
                        <th>
                            Ngày sổ [HardCode ^_^]
                        </th>
                        <th>
                            kết quả [HardCode ^_^]
                        </th>
                    </tr>
                    <tbody></tbody>
                </table>
            </p>
        </div>
    </div>
</div>
<script>
    window.odometerOptions = {
        format: 'dd',
        animation: 'count'
    };

    var n1 = 0;
    var n2 = 0;
    var n3 = 0;
    var n4 = 0;
    var n5 = 0;
    var n6 = 0;
    $(function () {
        InitVietLottResults();
        InitTBody();
        odometerAnimation();
    });

    function GenericNumber() {
        resetNumber();
        odometerAnimation();
    }

    function odometerAnimation() {

        randomVietLott();

        setTimeout(function () {
            $('#id1').html(n1.toString());


        }, 1000);
        setTimeout(function () {

            $('#id2').html(n2.toString());

        }, 1100);
        setTimeout(function () {
            $('#id3').html(n3.toString());

        }, 1200);
        setTimeout(function () {

            $('#id4').html(n4.toString());

        }, 1300);
        setTimeout(function () {
            $('#id5').html(n5.toString());

        }, 1400);
        setTimeout(function () {

            $('#id6').html(n6.toString());
        }, 1500);
    }

    function randomVietLott() {
        var lst = [];
        for (var i = 1; i < 46; i++) {
            lst.push(i);
        }
        var lstTemp = [];

        n1 = random1_45(lst.length);
        while (lstTemp.indexOf(n1) >= 0) {
            n1 = random1_45(lst.length);
        }
        lstTemp.push(n1);

        n2 = random1_45(lst.length);
        while (lstTemp.indexOf(n2) >= 0) {
            n2 = random1_45(lst.length);
        }
        lstTemp.push(n2);

        n3 = random1_45(lst.length);
        while (lstTemp.indexOf(n3) >= 0) {
            n3 = random1_45(lst.length);
        }
        lstTemp.push(n3);

        n4 = random1_45(lst.length);
        while (lstTemp.indexOf(n4) >= 0) {
            n4 = random1_45(lst.length);
        }
        lstTemp.push(n4);

        n5 = random1_45(lst.length);
        while (lstTemp.indexOf(n5) >= 0) {
            n5 = random1_45(lst.length);
        }
        lstTemp.push(n5);

        n6 = random1_45(lst.length);
        while (lstTemp.indexOf(n6) >= 0) {
            n6 = random1_45(lst.length);
        }
        lstTemp.push(n6);
        reOrderValue(lstTemp);
    }

    function random1_45(vlength) {
        return Math.floor(Math.random() * vlength) + 1;
    }

    function resetNumber() {
        setTimeout(function () {
            $('#id1').html('0');
            $('#id2').html('0');
            $('#id3').html('0');
            $('#id4').html('0');
            $('#id5').html('0');
            $('#id6').html('0');
        }, 1000);
        setTimeout(function () {
            $('#id1').html('45');
            $('#id2').html('45');
            $('#id3').html('45');
            $('#id4').html('45');
            $('#id5').html('45');
            $('#id6').html('45');
        }, 1000);
    }

    function reOrderValue(lstTemp) {
        var lstResult = lstTemp.sort(function (a, b) { return a - b });
        n1 = lstResult[0];
        n2 = lstResult[1];
        n3 = lstResult[2];
        n4 = lstResult[3];
        n5 = lstResult[4];
        n6 = lstResult[5];
        console.log(n1 + '-' + n2 + '-' + n3 + '-' + n4 + '-' + n5 + '-' + n6);
    }

    function InitTBody() {
        for (var i = 1; i < 46; i++) {
            $('#vlTrackingNumber > tbody:last-child').append('<tr><td>' + i + '</td><td>N/A</td></tr>');
        }
    }
    function InitVietLottResults() {
        $('#vlPublish > tbody:last-child').append('<tr><td>11/11/2016</td><td>10 17 22 23 30 36</td></tr>');
        $('#vlPublish > tbody:last-child').append('<tr><td>09/11/2016</td><td>02 10 14 24 25 30</td></tr>');
        $('#vlPublish > tbody:last-child').append('<tr><td>06/11/2016</td><td>04 15 16 20 26 41</td></tr>');
        $('#vlPublish > tbody:last-child').append('<tr><td>04/11/2016</td><td>05 13 22 24 28 32</td></tr>');
        $('#vlPublish > tbody:last-child').append('<tr><td>02/11/2016</td><td>03 05 08 10 13 22</td></tr>');
    }
</script>
