<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="GameAPISupport.Properties.Settings.DemoDVDConnectionString"
            connectionString="Data Source=52.77.65.216\SQL;Initial Catalog=DemoDVD;Persist Security Info=True;User ID=chum"
            providerName="System.Data.SqlClient" />-->
        <add name="GameAPISupport.Properties.Settings.DemoDVDConnectionString1"
            connectionString="Data Source=TUNGTRAN-PC\MSSQLSERVER2014;Initial Catalog=DemoDVD;Persist Security Info=True;User ID=sa;Password=Tung@123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>