@model dynamic

@{
    ViewBag.Title = "Puzzle Game";

}

<h2>Puzzle</h2>
<table style="width: 900px;">
    <tr>
        <td style="width: 600px">
            <table style="border: 0;">
                <tr>
                    <td>
                        <img style="width: 150px;" title="11" id="img11" alt="11" src="~/Images/PuzzleImages_/Pic_01.jpg" />
                    </td>
                    <td>
                        <img style="width: 150px;" title="12" id="img12" alt="12" src="~/Images/PuzzleImages_/Pic_02.jpg" />
                    </td>
                    <td>
                        <img style="width: 150px;" title="13" id="img13" alt="13" src="~/Images/PuzzleImages_/Pic_03.jpg" />
                    </td>
                    <td>
                        <img style="width: 150px;" style="width: 150px;" title="14" id="img14" alt="14" src="~/Images/PuzzleImages_/Pic_04.jpg" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img style="width: 150px;" title="21" id="img21" alt="21" src="~/Images/PuzzleImages_/Pic_05.jpg" />

                    </td>
                    <td>
                        <img style="width: 150px;" title="22" id="img22" alt="22" src="~/Images/PuzzleImages_/Pic_06.jpg" />

                    </td>
                    <td>
                        <img style="width: 150px;" title="23" id="img23" alt="23" src="~/Images/PuzzleImages_/Pic_07.jpg" />

                    </td>
                    <td>
                        <img style="width: 150px;" title="24" id="img24" alt="24" src="~/Images/PuzzleImages_/Pic_08.jpg" />

                    </td>
                </tr>
                <tr>
                    <td>
                        <img style="width: 150px;" title="31" id="img31" alt="31" src="~/Images/PuzzleImages_/Pic_09.jpg" />

                    </td>
                    <td>
                        <img style="width: 150px;" title="32" id="img32" alt="32" src="~/Images/PuzzleImages_/Pic_10.jpg" />

                    </td>
                    <td>
                        <img style="width: 150px;" title="33" id="img33" alt="33" src="~/Images/PuzzleImages_/Pic_11.jpg" />

                    </td>
                    <td>
                        <img style="width: 150px;" title="34" id="img34" alt="34" src="~/Images/PuzzleImages_/Pic_12.jpg" />

                    </td>
                </tr>
                <tr>
                    <td>
                        <img style="width: 150px;" title="41" id="img41" alt="41" src="~/Images/PuzzleImages_/Pic_13.jpg" />

                    </td>
                    <td>
                        <img style="width: 150px;" title="42" id="img42" alt="42" src="~/Images/PuzzleImages_/Pic_14.jpg" />

                    </td>
                    <td>
                        <img style="width: 150px;" title="43" id="img43" alt="43" src="~/Images/PuzzleImages_/Pic_15.jpg" />

                    </td>
                    <td>
                        <img style="width: 150px;" title="44" id="img44" alt="44" src="~/Images/PuzzleImages_/Blank.png" />

                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 300px">
            <img src="~/Images/PuzzleImages_/Pic.jpg" style="width: 300px" />
        </td>
    </tr>
</table>
