
@{
    ViewBag.Title = "Puzzle Game V2";
}

@section Styles {
    <style>
        img {
            width: 130px;
            height: 120px;
        }

        td {
            padding: 1px;
        }
    </style>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

}

@section Scripts {
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="~/Scripts/counter_/countid.js"></script>
<script src="~/Scripts/counter_/countid.min.js"></script>
    <script>
        var dcData = [
            { key: '11', value: '/Images/PuzzleImages_/Pic_01.jpg' },
            { key: '12', value: '/Images/PuzzleImages_/Pic_02.jpg' },
            { key: '13', value: '/Images/PuzzleImages_/Pic_03.jpg' },
            { key: '14', value: '/Images/PuzzleImages_/Pic_04.jpg' },
            { key: '21', value: '/Images/PuzzleImages_/Pic_05.jpg' },
            { key: '22', value: '/Images/PuzzleImages_/Pic_06.jpg' },
            { key: '23', value: '/Images/PuzzleImages_/Pic_07.jpg' },
            { key: '24', value: '/Images/PuzzleImages_/Pic_08.jpg' },
            { key: '31', value: '/Images/PuzzleImages_/Pic_09.jpg' },
            { key: '32', value: '/Images/PuzzleImages_/Pic_10.jpg' },
            { key: '33', value: '/Images/PuzzleImages_/Pic_11.jpg' },
            { key: '34', value: '/Images/PuzzleImages_/Pic_12.jpg' },
            { key: '41', value: '/Images/PuzzleImages_/Pic_13.jpg' },
            { key: '42', value: '/Images/PuzzleImages_/Pic_14.jpg' },
            { key: '43', value: '/Images/PuzzleImages_/Pic_15.jpg' },
            { key: '44', value: '/Images/PuzzleImages_/Blank.png' }
        ];

        $(function() {
            LoadDVD();
        });

        function InitPuzzle() {
            var dcTemp = [];
            for (var j = 0; j < dcData.length; j++) {
                dcTemp.push(j);
            }
            for (var i = 0; i < dcData.length; i++) {
                var vRandom = randomIntFromInterval(0, dcTemp.length - 1);
                $('#id_img_' + dcData[i].key).attr('src', dcData[dcTemp[vRandom]].value);
                $('#id_img_' + dcData[i].key).attr('index2', dcData[dcTemp[vRandom]].key);
                dcTemp.splice(vRandom, 1);
            }
        }

        function moveImage(item) {
            var idDes = $(item).attr('id');
            var idSource = $("img[index2='44']").attr('id');
            if (CheckValidMove(idDes, idSource)) {
                MoveSelectImage(idDes, idSource);
                if (IsWin()) {
                    alert("Dzu Qua, Win rui ban ^_^.");
                }
            } else {
                alert("Biet choi khong dzi troi? ^_^");
            }
        }

        function MoveSelectImage(idDes, idSource) {
            var tmpIndex2 = $('#' + idDes).attr('index2');
            var tmpsrc = $('#' + idDes).attr('src');

            $('#' + idDes).attr('index2', $('#' + idSource).attr('index2'));
            $('#' + idDes).attr('src', $('#' + idSource).attr('src'));

            $('#' + idSource).attr('index2', tmpIndex2);
            $('#' + idSource).attr('src', tmpsrc);

            var vCounter = parseInt($('#idSwapCounter').attr('currentnumber'), 10);
            vCounter = vCounter + 1;
            //console.log(vCounter);
            $('#idSwapCounter').html(vCounter);
            $('#idSwapCounter').attr('currentnumber', vCounter);
        }

        function CheckValidMove(idDes, idSource) {
            //TODO: for test function win
            //return true;
            var rDes = $('#' + idDes).attr('myrow');
            var cDes = $('#' + idDes).attr('mycol');

            var rSource = $('#' + idSource).attr('myrow');
            var cSource = $('#' + idSource).attr('mycol');

            //alert("rDes: " + rDes + " cDes: " + cDes + "- rSource: " + rSource + " cSource: " + rSource);
            var resource = 0;
            if (rDes === rSource) {
                resource = cDes - cSource;
                if (Math.abs(resource) === 1) {
                    return true;
                }
            } else if (cDes === cSource) {
                resource = rDes - rSource;
                if (Math.abs(resource) === 1) {
                    return true;
                }
            }
            return false;
        }

        function IsWin() {
            var iswin = true;
            $('#idTableGame img').each(function() {
                if ($(this).attr('index1') !== $(this).attr('index2')) {
                    iswin = false;
                }
            });
            return iswin;
        }

        function randomIntFromInterval(min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min);
        }

        function ResetGame() {
            console.log("Reset Game ^_^");
            InitPuzzle();
        };

        function LoadDVD() {
            $.getJSON("http://dvd.kachinlina.com/Home/GenerateRandomImage/1", function(lstImg) {
                $.each(lstImg, function(i, value) {
                    $('#idimgFull').attr('src', value.Name);
                    $('#idimgFull').attr('myId', value.Id);
                    $('#idimgFull').attr('dvdId', value.Id);
                    $('#idimgFull').attr('dvdUrl', value.Name);
                });
            });
        }

        function SplitImages() {
            //alert("Not implement yet ^_^ !!!");
            var vId = $('#idimgFull').attr('dvdId');
            var vUrl = $('#idimgFull').attr('dvdUrl');
            $.get('@Url.Action("SplitImageUrl", "PuzzleGame")', { id: vId, imgUrl: vUrl }, function(response) {

                dcData = [];
                var iCounter = 0;
                for (var i = 1; i < 5; i++) {
                    for (var j = 1; j < 5; j++) {
                        var vKey = i.toString() + j.toString();
                        var vValue = '/Images/' + vId + '/' + vId + '_' + iCounter + response.exten;
                        if (i === 4 && j === 4) {
                            dcData.push({ key: '44', value: '/Images/PuzzleImages_/Blank.png' });
                        } else {
                            dcData.push({ key: vKey, value: vValue });
                        }
                        iCounter += 1;
                    }
                }
                InitPuzzle();
            });
        }


    </script>
    <script>
        Date.prototype.addSeconds = function (h) {
            this.setSeconds(this.getSeconds() + h);
            return this;
        }
        var date = new Date().addSeconds(900) / 1000;
        $('.timer2').countid({
            clock: true,
            dateTime: date,
            dateTplRemaining: "%H:%M:%S",
            dateTplElapsed: "%H:%M:%S",
            complete: function(el) {
                //el.animate({ 'font-size': '50px' });
                alert("Gameover ^_^");
            }
        });

    </script>
}
<div class="jquery-script-clear"></div>
<section class="container">
    <table style="width: 1020px;">
        <tr>
            <td style="width: 500px">
                <table style="border: 0;" id="idTableGame">
                    <tr>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_11" myrow="1" mycol="1" index1="11" index2="" src="~/Images/PuzzleImages_/Pic_01.jpg"/>
                        </td>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_12" myrow="1" mycol="2" index1="12" index2="" src="~/Images/PuzzleImages_/Pic_02.jpg"/>
                        </td>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_13" myrow="1" mycol="3" index1="13" index2="" src="~/Images/PuzzleImages_/Pic_03.jpg"/>
                        </td>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_14" myrow="1" mycol="4" index1="14" index2="" src="~/Images/PuzzleImages_/Pic_04.jpg"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_21" myrow="2" mycol="1" index1="21" index2="" src="~/Images/PuzzleImages_/Pic_05.jpg"/>

                        </td>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_22" myrow="2" mycol="2" index1="22" index2="" src="~/Images/PuzzleImages_/Pic_06.jpg"/>

                        </td>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_23" myrow="2" mycol="3" index1="23" index2="" src="~/Images/PuzzleImages_/Pic_07.jpg"/>

                        </td>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_24" myrow="2" mycol="4" index1="24" index2="" src="~/Images/PuzzleImages_/Pic_08.jpg"/>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_31" myrow="3" mycol="1" index1="31" index2="" src="~/Images/PuzzleImages_/Pic_09.jpg"/>

                        </td>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_32" myrow="3" mycol="2" index1="32" index2="" src="~/Images/PuzzleImages_/Pic_10.jpg"/>

                        </td>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_33" myrow="3" mycol="3" index1="33" index2="" src="~/Images/PuzzleImages_/Pic_11.jpg"/>

                        </td>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_34" myrow="3" mycol="4" index1="34" index2="" src="~/Images/PuzzleImages_/Pic_12.jpg"/>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_41" myrow="4" mycol="1" index1="41" index2="" src="~/Images/PuzzleImages_/Pic_13.jpg"/>

                        </td>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_42" myrow="4" mycol="2" index1="42" index2="" src="~/Images/PuzzleImages_/Pic_14.jpg"/>

                        </td>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_43" myrow="4" mycol="3" index1="43" index2="" src="~/Images/PuzzleImages_/Pic_15.jpg"/>

                        </td>
                        <td>
                            <img onclick="moveImage(this);" id="id_img_44" myrow="4" mycol="4" index1="44" index2="" src="~/Images/PuzzleImages_/Blank.png"/>

                        </td>
                    </tr>
                </table>

                <button id="btnReset" type="button" onclick="ResetGame();"> Reset </button>
                 
                <label  >Swap Count:</label>
                <h3 id="idSwapCounter" currentnumber="0">0</h3>
                <label  >Count down:</label>
                <h3   class='timer2'></h3>
                     
            </td>
            <td style="width: 500px; text-align: right;">
                <img id="idimgFull" src="~/Images/PuzzleImages_/Pic.jpg" style="margin-top: 20px; width: 500px !important; height: 500px !important" />
                <br />
                <button id="btnLoadDVDImage" type="button" onclick="LoadDVD();">Refresh</button>
                &nbsp;
                <button id="btnSplitImage" type="button" onclick="SplitImages();">Split</button>
            </td>
        </tr>
    </table>
</section>
