@model dynamic

@{
    ViewBag.Title = "Relax with Monkey";
}

@section Styles {
<link href="~/Content/sweetalert2.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/game.css">
}

<section class="container">
    <div class="game">
        <div class="game-container">
            <div class="game-row">
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
            </div>
            <div class="game-row">
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
            </div>
            <div class="game-row">
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
            </div>
            <div class="game-row">
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
            </div>
            <div class="game-row">
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
            </div>
        </div>
        <div class="game-actions">
            <button id="game-reset" class="btn-game">Reset Game</button>
            <p class="game-level">Level hiện tại của bạn: <span id="game-level">1</span></p>
        </div>
    </div>
</section>

@section Scripts {
<script src="~/Scripts/sweetalert2.min.js"></script>
<script src="~/Scripts/game.js"></script>
}
