@model dynamic

@{
    ViewBag.Title = "Relax with Monkey";
    //Layout = "~/Views/Shared/_Layout";
}

<h2>MemoryMonkey </h2>
<link href="~/Content/sweetalert2.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/game.css">

<div class="game">
    <div class="game-container">
        <div class="game-row">
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
        </div>
        <div class="game-row">
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
        </div>
        <div class="game-row">
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
        </div>
        <div class="game-row">
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
        </div>
        <div class="game-row">
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
        </div>
    </div>
    <div class="game-actions">
        <button id="game-reset" class="btn-game">Reset Game</button>
        <p class="game-level">Level hiện tại của bạn: <span id="game-level">1</span></p>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/sweetalert2.min.js"></script>
<script src="~/Scripts/game.js"></script>
