@model dynamic

@{
    ViewBag.Title = "Monkey Orginal";
}

<style>
    td, th {
        padding: 0;
    }

    .game-monkey div,
    .game-monkey h1 {
        width: 115px;
        height: 115px;
        line-height: 115px;
    }

    .game-monkey img {
        max-width: 100%;
        height: auto;
    }
</style>

<div class="container u-text-center">
    <table class="game-monkey">
        <tr>
            <td>
                <div id="id11"></div></td>
            <td>
                <div id="id12"></div></td>
            <td>
                <div id="id13"></div></td>
            <td>
                <div id="id14"></div></td>
            <td>
                <div id="id15"></div></td>
            <td>
                <div id="id16"></div></td>
            <td>
                <div id="id17"></div></td>
            <td>
                <div id="id18"></div></td>
        </tr>
        <tr>
            <td>
                <div id="id21"></div></td>
            <td>
                <div id="id22"></div></td>
            <td>
                <div id="id23"></div></td>
            <td>
                <div id="id24"></div></td>
            <td>
                <div id="id25"></div></td>
            <td>
                <div id="id26"></div></td>
            <td>
                <div id="id27"></div></td>
            <td>
                <div id="id28"></div></td>
        </tr>
        <tr>
            <td>
                <div id="id31"></div>
            </td>
            <td>
                <div id="id32"></div>
            </td>
            <td>
                <div id="id33"></div>
            </td>
            <td>
                <div id="id34"></div>
            </td>
            <td>
                <div id="id35"></div>
            </td>
            <td>
                <div id="id36"></div>
            </td>
            <td>
                <div id="id37"></div>
            </td>
            <td>
                <div id="id38"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="id41"></div>
            </td>
            <td>
                <div id="id42"></div>
            </td>
            <td>
                <div id="id43"></div>
            </td>
            <td>
                <div id="id44"></div>
            </td>
            <td>
                <div id="id45"></div>
            </td>
            <td>
                <div id="id46"></div>
            </td>
            <td>
                <div id="id47"></div>
            </td>
            <td>
                <div id="id48"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="id51"></div></td>
            <td>
                <div id="id52"></div></td>
            <td>
                <div id="id53"></div></td>
            <td>
                <div id="id54"></div></td>
            <td>
                <div id="id55"></div></td>
            <td>
                <div id="id56"></div></td>
            <td>
                <div id="id57"></div></td>
            <td>
                <div id="id58"></div></td>
        </tr>
    </table>
    <div>
        <button type="button" onclick="resetGame();">Reset</button>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script>
    var myCounter = 0;
    var vimg = 'http://i.imgur.com/TiPH3Uf.jpg';
    var vtagImg = '<img  style="width: 115px; height: 100px;" src="http://i.imgur.com/TiPH3Uf.jpg"  onclick="selectImage(this);"/>';


    $(function() {
        resetGame();
    });

    function RandomImage() {
        $("div[id^='id']").attr('active','0');
        $("div[id^='id']").html('');

        var arr = [];
        var arrRows = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5];
        var arrColumns = [1, 2, 3, 4, 5, 6, 7, 8];
        var   i = 1;
        while (i <= 10 && arrRows.length > 0) {
            //only fill ten time.
            var rRow = getRandomInt(0, arrRows.length - 1);
            var vRowValue = arrRows[rRow];
            arrRows.splice(rRow, 1);
            var vColumnValue = getRandomInt(1, 8);
            var rcActive = vRowValue +''+ vColumnValue;
            if ($.inArray(rcActive, arr) === -1) {
                arr.push(rcActive);
                var divImg = $('#id' + rcActive);
                divImg.attr('number', i);
                divImg.html('<h1>' + i + '</h1>');
                divImg.attr('active', '1');
                i = i + 1;
            }
            //divImg.html(vtagImg);
            console.log(rcActive + '-' + i);
        }
    }

    function selectImage(e) {
        //debugger;
        var v = $(e);
        var vSelectValue = v.parent().attr('number');
        myCounter += 1;
        if (parseInt(vSelectValue) !== myCounter) {
            alert('sai roi, ga qua  ^_^');
            resetGame();
        } else {
            v.parent().html('<h1>' + vSelectValue + '</h1>');
        }
        //TODO: if win
        if (myCounter == 10) {
            alert('Thang roi ^_^, Qua dzu !');
            resetGame();
        }
    }

    function resetGame() {
        myCounter = 0;
        RandomImage();
        setTimeout(function () {
            replaceImage();
        }, 5000);
    }

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    }

    function replaceImage() {
        $("div[id^='id'][active=1]").html(vtagImg);
    }
</script>
