@model dynamic

@{
    ViewBag.Title = "Monkey Orginal";
    //Layout = "~/Views/Shared/_Layout";
}

<script src="~/Scripts/jquery-2.2.0.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<h2>Monkey Orginal</h2>

<div style="text-align: center;">
    <div>
        <table>
            <tr>
                <td>
                    <div id="id11" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id12" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id13" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id14" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id15" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id16" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id17" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id18" style="width: 125px; height: 115px;"></div></td>
            </tr>
            <tr>
                <td>
                    <div id="id21" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id22" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id23" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id24" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id25" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id26" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id27" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id28" style="width: 125px; height: 115px;"></div></td>
            </tr>
            <tr>
                <td>
                    <div id="id31" style="width: 125px; height: 115px;"></div>
                </td>
                <td>
                    <div id="id32" style="width: 125px; height: 115px;"></div>
                </td>
                <td>
                    <div id="id33" style="width: 125px; height: 115px;"></div>
                </td>
                <td>
                    <div id="id34" style="width: 125px; height: 115px;"></div>
                </td>
                <td>
                    <div id="id35" style="width: 125px; height: 115px;"></div>
                </td>
                <td>
                    <div id="id36" style="width: 125px; height: 115px;"></div>
                </td>
                <td>
                    <div id="id37" style="width: 125px; height: 115px;"></div>
                </td>
                <td>
                    <div id="id38" style="width: 125px; height: 115px;"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="id41" style="width: 125px; height: 115px;"></div>
                </td>
                <td>
                    <div id="id42" style="width: 125px; height: 115px;"></div>
                </td>
                <td>
                    <div id="id43" style="width: 125px; height: 115px;"></div>
                </td>
                <td>
                    <div id="id44" style="width: 125px; height: 115px;"></div>
                </td>
                <td>
                    <div id="id45" style="width: 125px; height: 115px;"></div>
                </td>
                <td>
                    <div id="id46" style="width: 125px; height: 115px;"></div>
                </td>
                <td>
                    <div id="id47" style="width: 125px; height: 115px;"></div>
                </td>
                <td>
                    <div id="id48" style="width: 125px; height: 115px;"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="id51" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id52" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id53" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id54" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id55" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id56" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id57" style="width: 125px; height: 115px;"></div></td>
                <td>
                    <div id="id58" style="width: 125px; height: 115px;"></div></td>
            </tr>
        </table>
    </div><br/>
    <div>
        <button type="button" onclick="resetGame();">Reset</button>
    </div>
</div>


<script>
    var myCounter = 0;
    var vimg = 'http://i.imgur.com/TiPH3Uf.jpg';
    var vtagImg = '<img  style="width: 115px; height: 100px;" src="http://i.imgur.com/TiPH3Uf.jpg"  onclick="selectImage(this);"/>';


    $(function() {
        resetGame();
    });

    function RandomImage() {
        $("div[id^='id']").attr('active','0');
        $("div[id^='id']").html('');

        var arr = [];
        var arrRows = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5];
        var arrColumns = [1, 2, 3, 4, 5, 6, 7, 8];
        var   i = 1;
        while (i <= 10 && arrRows.length > 0) {
            //only fill ten time.
            var rRow = getRandomInt(0, arrRows.length - 1);
            var vRowValue = arrRows[rRow];
            arrRows.splice(rRow, 1);
            var vColumnValue = getRandomInt(1, 8);
            var rcActive = vRowValue +''+ vColumnValue;
            if ($.inArray(rcActive, arr) === -1) {
                arr.push(rcActive);
                var divImg = $('#id' + rcActive);
                divImg.attr('number', i);
                divImg.html('<h1>' + i + '</h1>');
                divImg.attr('active', '1');
                i = i + 1;
            }
            //divImg.html(vtagImg);
            console.log(rcActive + '-' + i);
        }
    }

    function selectImage(e) {
        //debugger;
        var v = $(e);
        var vSelectValue = v.parent().attr('number');
        myCounter += 1;
        if (parseInt(vSelectValue) !== myCounter) {
            alert('sai roi, ga qua  ^_^');
            resetGame();
        } else {
            v.parent().html('<h1>' + vSelectValue + '</h1>');
        }
        //TODO: if win
        if (myCounter == 10) {
            alert('Thang roi ^_^, Qua dzu !');
            resetGame();
        }
    }

    function resetGame() {
        myCounter = 0;
        RandomImage();
        setTimeout(function () {
            replaceImage();
        }, 5000);
    }

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    }

    function replaceImage() {
        $("div[id^='id'][active=1]").html(vtagImg);
    }
</script>

